/* header */
/* Navigation */
#header{
    padding-top: 20px;
    background-image: url(Media/banner-bg.jpg);
    background-size: cover;
    background-position: center;
}
.navbar-logo{
    width: auto;
    height: 100px;
}
#brand-name{
    font-family: 'Lavishly Yours', cursive;
    font-size: 80px;
    font-weight: bold;
}
.nav-link:hover{
    color: #f5e5a8 !important;
}
.dropdown-item:active{
    background-color: #f5e5a8 !important;
    color: black !important;
}

/* Banner */
#banner-title{
    font-family: 'Bitter', serif;
    font-size: 64px;
    font-weight: bold;
}
#banner-info{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
#slogan-btn{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
#slogan-btn:hover{
    color: #f5e5a8;
}

/* News */
#news{
    margin-top: 100px;

}
#news-title{
    font-family: 'Bitter', serif;
    font-size: 64px;
    font-weight: bold;
}
#fb-text{
    margin-bottom: 0px;
    margin-left: 15px;
}
.carousel-caption{
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.news-carousel-title{
    color: black;
}
.news-carousel-content{
    color: black;
}
/* Pets for sale */
.content-title{
    font-family: 'Bitter', serif;
    font-size: 64px;
    font-weight: bold;
}
.moreinfo-btn:active{
    color: #f5e5a8 !important;
}
/* Footer */
.footer-container{
    background-color: rgb(41, 39, 39);
    padding-top: 25px;
}
.footer-logo{
    height: 100px;
    width: auto;
}
.footer-brand{
    font-family: 'Lavishly Yours', cursive;
    font-size: 75px;
    font-weight: bold;
}
.footer-brand{
    color: #f5e5a8;
    text-decoration: none;
}
.sign-create{
    color: #f5e5a8;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size:larger
}
.sign-name{
    color: #7c7c79;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
.footer-title{
    color: #f5e5a8;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size:larger
}
.footer-list{
    list-style-type: none;
    padding-left: 0px;
}
.footer-page-link{
    color: #7c7c79;
    text-decoration: none;
}
.footer-page-link:link{
    color: #7c7c79;
}
.footer-page-link:hover{
    color: #857c5c;
}